name: Build Android App (Deprecated)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Info
        run: echo "Use build-android.yml workflow instead"
